@import "../variables/variables.scss";

.tabs-container {
  display: flex;

  &__tab {
    border: 1px solid $color--black;
    padding: 10px 25px;
    cursor: pointer;

    &--active {
      background: $color--grey--dark;
    }
  }
}
