.tabs-container {
  display: flex;
  width: fit-content;
  box-shadow: 5px 5px 0 -1px $color--black;
  &__tab {
    font-family: $font--main;
    background: $color--white;
    font-size: 16px;
    border: 1px solid $color--black;
    padding: 10px 25px;
    cursor: pointer;
    &--active {
      background: $color--grey--dark;
    }
  }
}
