@import "./variables/variables.scss";
@import "./modules/Accordion.scss";
@import "./modules/Table.scss";
@import "./modules/Tabs.scss";

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px 0;
  font-family: $font--main;
}
.output-msg {
  text-align: center;
  font-family: $font--main;
  font-size: 26px;
}
.output-details {
  background: $color--obsidian;
  padding: 10px 20px;
  color: $color--white--code;

  code {
    font-family: $font--code;
    font-size: 12px;
  }
}
