@import "./modules/Accordion.scss";
@import "./modules/Table.scss";
@import "./modules/Tabs.scss";

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px 0;
  font-family: cursive;
}
.output-msg {
  text-align: center;
  font-family: cursive;
  font-size: 26px;
}
